<include file="Common/header"/>
<div class="clearfix full-container">
    <div class="container-fluid">
        <div class="row">
            <!-- 左侧导航菜单开始 -->
            <include file="Common/left"/>
            <!-- 左侧导航菜单结束 -->

            <!-- 页面主体内容开始 -->
            <div id="main" class="col-xs-12 col-sm-10 main">
                <!-- 面包屑导航开始 -->
                <ul class="breadcrumb">
                    <li><i class="fa fa-map-marker"></i></li>
                    <volist name="__PARENT_MENU__" id="vo">
                        <li>{$vo.title}</li>
                    </volist>
                </ul>
                <!-- 面包屑导航结束 -->
                <!-- 数据列表 -->
                <div class="builder builder-form-box">
                    <div class="builder-container builder-form-container">
                        <div class="row">
                            <div class="col-xs-12">
                                <form action="{:U('import')}" method="post" class="form builder-form" enctype="multipart/form-data">
                                <div class="form-group item_index_template">
                                    <label class="item-label">上传excel：</label>
                                    <div class="controls">
                                        <input type="file" name='excel' />
                                    </div>
                                </div>    
                                <!-- <div class="form-group item_index_template">
                                    <label class="item-label">状态：</label>
                                    <div class="controls">
                                        <select class="form-control input"  name="status"style="width: 300px;">
                                            <option value="1" >正常</option>
                                            <option value="0" >失效</option>
                                        </select>
                                    </div> -->
                                    <div style="height: 400px;"></div>
                                    <div class="col-xs-12 bto_btn">
                                        <div class="btn-wrap">
                                         <a class="btn btn-success " style="width: 80px;" href="__PUBLIC__/excel/member_import.xlsx">下载模板</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="btn btn-primary  two-word-btn" style="width: 80px;" type="submit"  value="导入">
                                            <a class="btn btn-default return two-word-btn" style="min-width: 80px;"  href="{:U('index')}">返回</a>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 底部区域开始 -->
                <!-- 底部区域结束 -->
            </div>
        </div>
    </div>

    <include file="Common/footer"/>
    <script>
    $('.submit').click(function () {
        var importSubmit =  "{:U('import')}";
        commonAjaxSubmit(importSubmit);
    })
    
    </script>
    </body>
