<include file="Common/header"/>
	
	<div class="clearfix full-container">
		<div class="container-fluid">
			<div class="row">
				<!-- 左侧导航菜单开始 -->
				<include file="Common/left"/>
				<!-- 左侧导航菜单结束 -->
				<div id="main" class="col-xs-12 col-sm-10 main">
					<!-- 面包屑导航 -->
					<ul class="breadcrumb">
						<li><i class="fa fa-map-marker"></i></li>
						<li>系统</li><li>系统功能</li><li>权限管理</li><li>添加编辑节点</li>
					</ul>
										
					<div class="builder builder-form-box">   
						<div class="builder-container builder-form-container">
							<div class="row">
								<div class="col-xs-12">
									<form action="" method="post" class="form builder-form">
										<div class="form-group item_id ">
											<div class="controls">
												<input type="hidden" class="form-control input" name="id" value="{$_GET['id']}">
											</div>
										</div>
										<!--<div class="form-group item_pid ">
											<label class="item-label">登录账号</label>
											<div class="controls">
												<!--
													如果选项的值是自定义数组(必须定义key为title的元素)需要解析，如果选项的值是常规字符串直接显示
													此处主要是用来给option定义更多的属性，比如data-ia=1，那么option应为
													$option = array('title' => 标题, 'data-id' => 1);
												-->
												<!--<select name="pid" class="form-control select">
													<option value="">请选择：</option>
													<option value="0" selected="">顶级菜单</option>
													<option value="1">首页</option>
													<option value="6">&nbsp;&nbsp;&nbsp;&nbsp;┝ 系统操作</option>
													<option value="13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;┝ 清空缓存</option>
												</select>                            
											</div>
										</div>-->
										<div class="form-group item_title ">
											<label class="item-label">名称</label>
											<div class="controls">
												<input type="text" class="form-control input text" name="name" value="{$info.name}">
											</div>
										</div>
										<div class="form-group item_url ">
											<label class="item-label">显示名</label>
											<div class="controls">
												<input type="text" class="form-control input text" name="title" value="{$info.title}">
											</div>
										</div>
										<div class="form-group item_sort ">
											<label class="item-label">状态</label>
											<div class="controls">
												<select name="status" class="form-control select">
													<option value="1" <eq name="info.status" value='1'>selected</eq>>启用</option>
													<option value="0" <eq name="info.status" value='0'>selected</eq>>禁用</option>
												</select> 
											</div>
										</div>
										<div class="form-group item_sort ">
											<label class="item-label">类型</label>
											<div class="controls">
												<select name="level" class="form-control select">
													{$info.levelOption}
												</select> 
											</div>
										</div>
										<div class="form-group item_sort ">
											<label class="item-label">父节点</label>
											<div class="controls">
												<select name="pid" class="form-control select">{$info.pidOption}</select> 
											</div>
										</div>
										<div class="form-group item_sort ">
											<label class="item-label">显示排序</label>
											<div class="controls">
												<input type="text" class="form-control input num" name="sort" value="{$info.sort}">
											</div>
										</div>
										<div class="form-group item_sort ">
											<label class="item-label">描述</label>
											<div class="controls">
												<textarea type="text" class="form-control input num" rows = "5" cols="68" name="remark"  placeholder="管理员备注信息">{$info.remark}</textarea>
											</div>
										</div>
									</form>
									<div class="form-group">
										<button class="btn btn-primary submit ajax-post visible-md-inline visible-lg-inline" type="submit" target-form="builder-form">提交</button>
										<button class="btn btn-default return visible-md-inline visible-lg-inline" onclick="javascript:history.back(-1);return false;">返回</button>
									</div>
								</div>
							</div>
						</div>    
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- footer开始 -->
<include file="Common/footer"/>
<!-- footer结束 -->
<script type="text/javascript">
    $(function(){
        $("select[name='level']").change(function(){
            var level=$(this).val();
            $("select[name='pid']>option").attr("disabled","disabled");
            if(level==1){
                $("select[name='pid']>option[value='0']").removeAttr("disabled").attr("selected","selected");
            }else if(level==2){
                $("select[name='pid']>option[level='1']").removeAttr("disabled");
            }else{
                $("select[name='pid']>option[level='2']").removeAttr("disabled");
            }
        });

        $(".submit").click(function(){
            commonAjaxSubmit();
        });
    });
</script>
</body>