<include file="Common/header"/>
<link rel="stylesheet" type="text/css" href="__LIBS__/jQuery Date Range Picker/daterangepicker.css">
	<div class="clearfix full-container">
		<div class="container-fluid">
			<div class="row">
				<!-- 左侧导航菜单开始 -->
				<include file="Common/left"/>
				<!-- 左侧导航菜单结束 -->
				
				<!-- 页面主体内容开始 -->
				<div id="main" class="col-xs-12 col-sm-10 main">
					<!-- 面包屑导航开始 -->
					<ul class="breadcrumb">
					    <li><i class="fa fa-map-marker"></i></li>
					    <volist name="__PARENT_MENU__" id="vo">
					        <li>{$vo.title}</li>
					    </volist>
					</ul>
					<!-- 面包屑导航结束 -->
					
					<div class="builder builder-list-box">
						<!-- 顶部工具栏按钮 -->
						<div class="builder-toolbar builder-list-toolbar">
							<div class="row">
								<!-- 工具栏按钮 -->
								<div class="col-xs-12 col-sm-4 button-list">
								</div>
								<!-- 搜索框 -->
								<div class="col-xs-12 col-sm-8">
                                    <div class="input-group search-form">
                                    <div class="search-tab">
                                        <input type="text" name="start" id="start" readonly="true"class="search-input form-control" value="{$start}"placeholder="请输入开始时间">
                                    </div>
                                    <div class="search-tab">
                                         <input type="text" name="end" id="end" readonly="true"class="search-input form-control" value="{$end}" placeholder="请输入结束时间">
                                    </div>   
                                    <span class="input-group-btn input-middle"><a class="btn btn-default" href="javascript:void(0);" id="search" url="{:U('analy/finance_added')}"><i class="fa fa-search"></i></a></span>         
                                    </div>
								</div>
							</div>
						</div>

						<!-- 数据列表 -->
		                <div class="builder-container builder-list-container">
		                    <div class="row">
		                        <div class="col-xs-12">
		                            <div class="builder-table">
		                                <div class="panel panel-default table-responsive" id="tablelist">
		                                    <table class="table table-c table-bordered table-striped table-hover">
		                                        <tbody>
		                                        	<div id="container" style="width: 70%; height: 400px; margin: 10px auto;"></div>
		                                        </tbody>
		                                    </table>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
					</div>
					<!-- 底部区域开始 -->
					<div class="bottomarea">
						<div class="page">
							<div class="badoo">{$page}</div>
						</div>
					</div>
					<!-- 底部区域结束 -->
				</div>
				<!-- 页面主体内容结束 -->
			</div>
		</div>
	</div>
<!-- footer开始 -->
<include file="Common/footer"/>
<!-- footer结束 -->
<script src="__LIBS__/jQuery Date Range Picker/moment.min.js"></script>
<script src="__LIBS__/jQuery Date Range Picker/jquery.daterangepicker.js"></script>
<script type="text/javascript" src="__COMMON_JS__/highcharts.js"></script>
<script type="text/javascript" src="__COMMON_JS__/exporting.js"></script>
</body>
<script type="text/javascript">
       $(function () {
           $('#container').highcharts({
               title: {
                   text: '消费数据增长统计({$start}~{$end})',
                   x: -20 //center
               },
               subtitle: {
                   text: 'Source: ttqiwu.com',
                   x: -20
               },
               xAxis: {
                   categories: [{$x}]
               },
               yAxis: {
                   title: {
                       text: '(次)'
                   },
                   plotLines: [{
                       value: 0,
                       width: 1,
                       color: '#808080'
                   }]
               },
               tooltip: {
                   valueSuffix: '次'
               },
               legend: {
                   layout: 'vertical',
                   align: 'right',
                   verticalAlign: 'middle',
                   borderWidth: 0
               },
               series: [{
                   name: '消费次数',
                   data: [{$y}]
               }]
           });

		   //时间插件
		   $("#start").dateRangePicker({
				autoClose: true,
				singleDate : true,
				format: 'YYYY-MM-DD',
				swapTime: true,
			}).bind('datepicker-change',function(event,obj){
				$("#start").val(obj.value);
			});

			//时间插件
		   $("#end").dateRangePicker({
				autoClose: true,
				singleDate : true,
				format: 'YYYY-MM-DD',
				swapTime: true,
			}).bind('datepicker-change',function(event,obj){
				$("#end").val(obj.value);
			});
       });
</script>
</html>