input{
	color:#999 !important;
}
input:focus{
	color:#333 !important;
	background-color: #fff;
}
body{
	padding-top: 44px;
	padding-bottom: 50px;
}
#header{
	position: fixed;
	top: 0px;
	left:0px;
	min-width: 100%;
	height:44px;
	z-index: 9;
	background-color: #004E26;
	font-size: 18px;
	color:#fff;
}
.header-left{
	width: 70px;
}
.header-centre{
	height: 30px;
	margin-left:10px;
	margin-right:10px;
	border:1px solid #fff;
	border-radius:3px;
}
a.header-type-active{
	color:#004E26;
	background-color: #fff;
}
.header-right{
	width: 65px;
	font-size: 16px;
	color: #fff;
}
/* 数据列表-开始 */
.list{
	background-color: #eee;
	border-top: none;
}
.list .ul{
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
}
.list .ul:active{
	background-color: #f8f8f8 !important;
}
.list .li-header{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.list .li-hl{
	font-size: 14px;
	color:#333;
}
.list .li-hr{
	font-size: 12px;
	color:#999;
}
.list .li-content{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.list .li-title{
	padding-bottom: 5px;
	font-size: 16px;
	color:#333;
}
.list .li-type{
	font-size: 14px;
	color:#666;
}
.list .li-price{
	font-size: 14px;
	color:#EF5B2D;
}
.list .li-tips{
	position: absolute;
	top:7px;
	left: 0px;
	width: 20px;
	height: 20px;
	border:1px solid #e5e5e5;
	border-radius:50%;
}
.list .li-tips-active{
	border:1px solid #006442;
	background-color: #006442;
	background: url(../images/icon.png) no-repeat;
	background-position: -194px -4px;
	background-size: 675px;
}
/* 数据列表-结束 */
.tx-wh{
	color:#fff;
}
.module-form-t1 .line-b:after{
	bottom:0px;
}
.module-input-t1 .line-all:before,.module-form-t1 .line-all:before{
	content: "";
	position: absolute;
	height: 87px;
	width: 200%;
	border: 1px solid #e5e5e5;
	background-color: transparent;
	left: 0;
	bottom: auto;
	right: auto;
	top: 10px;
	-webkit-transform-origin: -1px 0px;
	-moz-transform-origin: -1px 0px;
	-ms-transform-origin: -1px 0px;
	-o-transform-origin: -1px 0px;
	transform-origin: -1px 0px;
	-webkit-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-o-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
}
.module-form-t1 .line-all:before{
	top: 15px;
}
.item-body .line-b:after,.navList .line-b:after{
	bottom:0px !important;
}
.mart-5{
	margin-top: 5px;
}
.bg-gray3{
	background-color:#f8f8f8;
}
.padt-7{
	padding-top: 7px;
}
.padb-7{
	padding-bottom: 7px;
}
.marl-15{
	margin-left: 15px;
}
.none-icon{
	position: absolute;
	top: 180px;
	left: 35%;
	z-index: 99;
}
.filtWhile-icon{
	width: 26px;
    height: 44px;
    margin-left: 5px;
    background: url(../images/icon.png) no-repeat;
    background-size: 620px 270px;
    background-position: -558px -25px;
}
.module-footer-t5{
	z-index: 9999;
}
#pullDown, #pullUp{
	margin: 0px auto;
}
.bg-wh{
	background-color: #fff;
}
.padl-15{
	padding-left: 15px;
}
.padr-15{
	padding-right: 15px;
}
.padt-10{
	padding-top: 10px;
}
.padb-10{
	padding-bottom: 10px;
}
.post-icon-wh{
	width: 26px;
	height: 44px;
	background: url(../images/icon.png) no-repeat;
	background-size: 620px 270px;
	background-position: -594px -130px;
}
.list-tx-red{
    color:red !important;
}
.list-tx-black{
    color:#000 !important;
}
.tx-bla-3{
	color:#999;
}
.priceColor-red{
	color:#EF5B2D;
}